.filter input {
    font-size: 16px;
    width: 40%;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 4px;
}

button {
    height: 35px;
    border: none;
    font-family: Arial;
    background-color: #eee;
    border-radius: 8px;
    margin: 10px 0 20px;
    cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}

.book {
    border-style: solid;
    border-radius: 3%;
    border-width: 1px;
    margin: 40px 30%;
    padding: 5px;
    background-color: #f5f9ff;
    border-color: #c7deff;
}

.book-title {
    margin-bottom: 2px;
}

.book-title sup {
    font-size: 12px;
    color: gray;
}

.book-title sup.instock {
    color: forestgreen;
}

.book-authors span {
    font-size: 13px;
}

.book-authors .book-author{
    background-color: lightgray;
    margin: 0 5px;
    padding: 2px;
    color: white;
    border-radius: 3px;
}