
<div class="filter">
  <input [(ngModel)]="titleOrDescriptionPart" placeholder="Enter part of the Title or Description">
</div>
<div>
  <button (click)="search()">Search</button>
</div>

<div><span>Total books found: </span>{{books.length}}</div>

<div *ngFor="let book of books" class="book">
    <h2 class='book-title'>{{ book.title }}<sup [class.instock]="book.instock === true">{{book.instock ? 'In stock!' : 'Unavailable'}}</sup></h2>
    <div class='book-authors'>
      <span><strong>By: </strong></span>
      <span *ngFor="let author of book.authors" class='book-author'>{{ author.name }}</span>
    </div>
    <h4>{{ book.subtitle }}</h4>
    <div><span><strong>Publisher: </strong></span>{{book.publisher}} ({{book.published}})</div>
    <p>{{ book.description }}</p>
    <div><span><strong>ISBN:</strong></span>{{book.isbn}}</div>
</div>